$black: black !default;
$white: white !default;
$dark_white: #e0d6d6 !default;
$monza: #cc0d0d !default;
$primary: #0d31db !default;
$light_red: #ffe4e4 !default;
$yellow: #ffff00 !default;
$yorange: #ffd400 !default;
$white: #ffffff !default;
$gray: #83878c !default;
$white_gray: #fdfdfd !default;
$dark_gray: #363738 !default;
$light_gray: #b9b9b9 !default;

$colors: (
  "white": $white,
  "dark_white": $dark_white,
  "gray": $gray,
  "dark_gray": $dark_gray,
  "light_gray": $light_gray,
  "white_gray": $white_gray,
  "monza": $monza,
  "yellow": $yellow,
  "yorange": $yorange,
  "light_red": $light_red,
);

$theme-colors: (
  "monza": $monza,
);
