<template>
  <div class="jumbotron home">
    <img src="../assets/img/cge.jpg" class="img-fluid" alt="Responsive image">
  </div>
</template>

<script>
export default {
  name: 'Home',
  components: {}
}
</script>

<style scoped lang="sass">
</style>
