<template lang="html">
  <div v-if="alert.isVisible" class="alert alert-success alert-dismissible fade show" v-bind:class="alert.alertType" role="alert">
    <strong>{{ alert.exclamation }}</strong> {{ alert.message }}
    <button v-on:click="close" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</template>

<script>
export default {
  name: 'Alert',
  props: {
    alert: {
      type: Object,
      default: function () {
        return {
          isVisible: false,
          alertType: 'alert-success',
          exclamation: 'Upss!',
          message: 'Something went wrong'
        }
      }
    }
  },
  methods: {
    close: function () {
      this.alert.isVisible = false
    }
  }
}
</script>

<style media="screen" lang="sass">
.alert
  position: relative
  padding: 0.75rem 1.25rem
  margin-bottom: 0rem !important
  border: 1px solid transparent
  border-radius: 0.25rem
</style>
